<nav class="blue darken-2">
  <div class="container">
    <nav class="nav-wrapper">
      <a href="/" class="brand-logo">{{ getEmpresa }}</a>
      <a href="#" data-activates="side-nav" class="button-collapse show-on-large right">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Dashboard</a></li>
        <li><a href="posts.html">Posts</a></li>
        <li><a href="categories.html">Categorias</a></li>
        <li><a href="comments.html">Comments</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <!-- Side Nav -->
      <ul id="side-nav" class="side-nav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="img/ocean.jpg" alt="">
            </div>
            <a href="#"><img src="img/person1.jpg" alt="" class="circle"></a>
            <a href="#"><span class="name white-text">Jhon Doe</span></a>
            <a href="#"><span class="email white-text">jdow@gmail</span></a>


          </div>
        </li>
        <li><a href="/"><i class="material-icons">dashboard</i> Dashboard</a></li>
        <li><a href="posts.htlm">Posts</a></li>
        <li><a href="categories.html">Categorias</a></li>
        <li><a href="comments.html">Comments</a></li>
        <li><a href="/users">Users</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">Account Controls</a></li>
        <li><a href="login.html" class="waves-efect">Logout</a></li>
      </ul>
    </nav>
  </div>
</nav>