<!DOCTYPE html>
<html>
{{> head}}

<body class="grey lighten-4">
  {{!-- Seccion Header --}}
  {{> navbar}}

  <!-- Section Stats -->
  <section class="section section-stats">
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card-panel center blue lighten-1 white-text">
          <i class="material-icons medium">insert_emoticon</i>
          <h5>Monthly Visitors</h5>
          <h3 class="count">23800</h3>
          <div class="progress grey lighten-1">
            <div class="determinate white" style="width:40%;"></div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card-panel center">
          <i class="material-icons medium">mode_edit</i>
          <h5>Blog Posts</h5>
          <h3 class="count">105</h3>
          <div class="progress grey lighten-1">
            <div class="determinate blue lighten-1" style="width:20%;"></div>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card-panel blue lighten-1 white-text center">
          <i class="material-icons medium">mode_comment</i>
          <h5>Comments</h5>
          <h3 class="count">1200</h3>
          <div class="progress grey lighten-1">
            <div class="determinate white" style="width: 40%;"></div>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card-panel center">
          <i class="material-icons medium">supervisor_account</i>
          <h5>Users</h5>
          <h3 class="count">350</h3>
          <div class="progress grey lighten-1">
            <div class="determinate blue lighten-1" style="width:10%;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section visitors -->
  <section class="section section-visitors blue lighten-4">
    <div class="row">
      <div class="col s12 m6 l8">
        <div class="card-panel">
          <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
      <div class="col s12 m5 l4">
        <!-- lastest comments -->
        <ul class="collection with-header lastest-comments">
          <li class="collection-header">
            <h5>Lastest Comments</h5>
          </li>
          <li class="collection-item  avatar">
            <img src="img/person1.jpg" class="circle">
            <span class="title">Jhon Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi harum aperiam nulla
              blanditiis quae voluptatem totam ea explicabo magni, facilis, dolore ducimus soluta consectetur rem
              itaque vel tenetur id impedit!</p>
            <a href="" class="approve green-text">Approve</a> |
            <a href="" class="deny red-text">Deny</a>
          </li>

          <li class="collection-item  avatar">
            <img src="img/person2.jpg" class="circle">
            <span class="title">Steve Smith</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi harum aperiam nulla
              blanditiis quae voluptatem totam ea explicabo magni, facilis, dolore ducimus soluta consectetur rem
              itaque vel tenetur id impedit!</p>
            <a href="" class="approve green-text">Approve</a> |
            <a href="" class="deny red-text">Deny</a>
          </li>
          <li class="collection-item  avatar">
            <img src="img/person3.jpg" class="circle">
            <span class="title">Ellen Wiliams</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi harum aperiam nulla
              blanditiis quae voluptatem totam ea explicabo magni, facilis, dolore ducimus soluta consectetur rem
              itaque vel tenetur id impedit!</p>
            <a href="" class="approve green-text">Approve</a> |
            <a href="" class="deny red-text">Deny</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Recent Post & Todos -->
  <section class="section section-recent">
    <div class="row">
      <div class="col s12 m6 l8">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Recent Posts</span>
            <table class="striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Post One</td>
                  <td>Web development</td>
                  <td><a href="details.html" class="btn blue lighten-2">Details</a></td>
                </tr>
                <tr>
                  <td>Post Two</td>
                  <td>graphics Desing</td>
                  <td><a href="details.html" class="btn blue lighten-2">Details</a></td>
                </tr>
                <tr>
                  <td>Post Three</td>
                  <td>Development</td>
                  <td><a href="details.html" class="btn blue lighten-2">Details</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Quick Todos</span>
            <form id="todo-form">
              <div class="input-field">
                <input type="text" id="todo" placeholder="add todo....">
              </div>
            </form>
            <ul class="collection todos">
              <li class="collection-item">
                <div>Todo One
                  <a href="#!" class="secondary-content delete"><i class="material-icons">close</i></a></div>
              </li>
              <li class="collection-item">
                <div>Todo Two
                  <a href="#!" class="secondary-content delete"><i class="material-icons">close</i></a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Footer --}}
  {{> footer}}

  {{!-- Fixed action button --}}
  {{> fixedMenu}}

  {{!-- Preloader --}}
  {{> preloader}}


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="js/chart.js"></script>
  <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
  <script>
    $('.section').hide();
    setTimeout(function () {
      $(document).ready(function () {
        // Show Section
        $('.section').fadeIn();

        // Hide Preloader
        $('.loader').fadeOut();

        //Init Side nav
        $(".button-collapse").sideNav();

        // Init Modal
        $('.modal').modal();

        // Select
        $('select').material_select();

        // Counter
        $(".count").each(function () {
          $(this).prop("Counter", 0).animate({
            Counter: $(this).text()
          }, {
              duration: 1000,
              easing: "swing",
              step: function (now) {
                $(this).text(Math.ceil(now));
              }
            });
        });

        // Commets Aprobe Deny
        $('.approve').click(function (e) {
          Materialize.toast("Comment Approved", 3000)
          e.preventDefault();
        });
        $('.deny').click(function (e) {
          Materialize.toast("Comment Deny", 3000)
          e.preventDefault();
        });

        // Quick todos
        $("#todo-form").submit(function (e) {
          const output = `<li class="collection-item">
                                <div>${$('#todo').val()}
                                    <a href="#!" class="secondary-content delete"><i class="material-icons">close</i></a></div>
                            </li>`
          $('.todos').append(output);
          e.preventDefault();
          Materialize.toast("Todo Added", 3000)
        });

        //Delete Todos
        $('.todos').on('click', '.delete', function (e) {
          $(this).parent().parent().remove();
          e.preventDefault();
          Materialize.toast("Todo Removed", 3000)
        });

        CKEDITOR.replace('body');
      });
    }, 1000)
  </script>
</body>

</html>